@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

header {
  margin: 1rem 1rem;
}
header img {
  margin: 1rem 0;
  width: 10rem;
}
header .skipToContent {
  background-color: #db8876;
  padding: 0.3rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  margin: auto;
  width: 10rem;
  margin-left: -5rem;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: none;
}
header nav {
  width: 85%;
}
header ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header ul li {
  margin: 0.5rem 0.2rem;
}
header ul li a {
  color: #901c1c;
  border: 0.5px solid #cbcbcb;
  padding: 0.3rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    width: 71%;
    flex-direction: row;
    align-items: center;
  }
  header img {
    width: 15rem;
    margin: 1rem;
  }
}
#displayLightbox {
  display: none;
}

.lightbox-modal {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100vw;
  overflow: auto;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.lightbox-modal figure {
  width: auto;
}
.lightbox-modal i {
  margin: 0 1rem;
  font-size: 2rem;
  color: #901c1c;
}
.lightbox-modal__box {
  display: flex;
  align-items: center;
  position: relative;
}
.lightbox-modal__box .closeIcon {
  position: absolute;
  top: 0;
  right: 1px;
  cursor: pointer;
}
.lightbox-modal__box--photo {
  object-fit: cover;
  height: 80vh;
  border-radius: 5px;
}
.lightbox-modal figcaption {
  margin-left: 10%;
  margin-top: 0.5rem;
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
}

@media screen and (max-width: 630px) {
  .lightbox-modal {
    display: none;
    width: auto;
    left: 0;
    right: 0;
    overflow: unset;
    display: flex;
    background-color: #fff;
    align-items: center;
  }
  .lightbox-modal figure {
    width: 100%;
  }
  .lightbox-modal__box--photo {
    object-fit: cover;
    width: 75vw;
    height: 42vh;
    object-position: 50% 25%;
  }
  .lightbox-modal .closeIcon {
    position: absolute;
    top: 0;
    right: 2px;
  }
  .lightbox-modal figcaption {
    margin-left: 14%;
  }
}
#displayForm, #displaySuccess {
  display: none;
  margin: 0;
}

#form-success {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #db8876;
  animation-name: modalopen;
  animation-duration: 1s;
}
#form-success p {
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}
#form-success button {
  padding: 1rem 3rem;
  width: 80%;
  font-family: "DM Sans", sans-serif;
}
#form-success button:hover {
  cursor: pointer;
}

#form-modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #db8876;
}
#form-modal form {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  width: 90%;
  position: relative;
}
#form-modal form .missingData {
  display: none;
}
#form-modal form .formTitle {
  position: initial;
  color: #000;
  font-size: 2rem;
  margin: 1rem 0 2rem;
}
#form-modal form label {
  color: #312e2e;
  margin: 0;
  margin-bottom: 0.3rem;
  margin-top: 0.6rem;
  font-size: 1.2rem;
}
#form-modal form input, #form-modal form textarea {
  margin: 0;
}
#form-modal form input {
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
#form-modal form textarea {
  font-size: 1.5rem;
  border-radius: 5px;
}
#form-modal form i {
  position: absolute;
  color: #fff;
  right: 2%;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
#form-modal form button {
  margin-top: 1rem;
  color: white;
  background-color: #901c1c;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #displaySuccess {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #displaySuccess #form-success {
    font-family: "DM Sans", sans-serif;
    width: 50vw;
    left: 25%;
    top: 5%;
    height: inherit;
    padding-bottom: 1rem;
    border-radius: 5px;
    justify-content: center;
    animation-name: modalopen;
    animation-duration: 1s;
  }
  #displaySuccess #form-success p {
    font-size: 2rem;
    margin: 1rem auto;
  }
  #displaySuccess #form-success button {
    padding: 1rem 3rem;
  }

  #displayForm {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  #displayForm #form-modal {
    width: 50vw;
    left: 25%;
    top: 5%;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 5px;
  }
  #displayForm #form-modal button {
    margin-left: 3px;
    padding: 1rem 3rem;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/*footer{

}*/
.photographers {
  display: flex;
  flex-direction: column;
}
.photographers article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.photographers article a {
  display: flex;
  flex-direction: column;
}
.photographers article h2 {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  color: #d3573c;
  font-size: 2.5rem;
  font-weight: 400;
}
.photographers article img {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  object-fit: cover;
}
.photographers .presentation {
  display: flex;
  flex-direction: column;
}
.photographers .presentation__localisation {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.2rem;
}
.photographers .presentation__quote {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem;
}
.photographers .presentation__price {
  font-family: "DM Sans", sans-serif;
  color: #757575;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem;
}
.photographers .tagList {
  display: flex;
  justify-content: center;
}
.photographers .tagList li {
  margin: 0.2rem;
  font-family: "DM Sans", sans-serif;
  color: #757575;
  font-size: 0.8rem;
  font-weight: 400;
  border: 0.5px solid #cbcbcb;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0.3rem;
}

@media screen and (min-width: 1200px) {
  .photographers {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
  }

  article {
    width: 28%;
    overflow: hidden;
    margin: 2rem 0;
  }
}
h1 {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-weight: 400;
  font-size: 4vw;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}
.presentation {
  margin: 1rem 1rem 0;
  max-width: 65vw;
}
.presentation__photographerName {
  position: initial;
  color: #d3573c;
  font-size: 3rem;
}
.presentation__localisation {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.2rem;
}
.presentation__quote {
  font-family: "DM Sans", sans-serif;
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.2rem;
}

.tagList {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 1rem 0;
  max-width: 70%;
}
.tagList li {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0.5px solid #e1e1e1;
  padding: 0.3rem;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0.3rem;
}

.portraitImg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 8rem;
  right: 1rem;
}

.contactButton {
  width: 10rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: #901c1c;
  font-family: "DM Sans", sans-serif;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  margin-left: -5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.photoInfo, .sortBy {
  display: none;
}

.photoCard {
  font-family: "DM Sans", sans-serif;
  margin: 5vw;
}
.photoCard img, .photoCard video {
  width: 90vw;
  height: 14rem;
  object-fit: cover;
  object-position: 100% 20%;
  border-radius: 5px;
}
.photoCard figcaption {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.photoCard__title {
  color: #901c1c;
  margin: 0;
}
.photoCard__numbers {
  display: flex;
  color: #901c1c;
  margin: 0;
}
.photoCard__numbers--price {
  margin: 0 0.5rem;
}
.photoCard__numbers--like {
  margin-left: 1rem;
}

@media screen and (min-width: 800px) {
  .photographerHeader {
    display: block;
    margin: 1rem 0;
  }

  .photoInfo {
    display: flex;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    right: 1rem;
    padding: 1rem;
    background-color: #db8876;
    font-family: "DM Sans", sans-serif;
    width: 15rem;
    border-radius: 5px 5px 0 0;
  }
  .photoInfo i {
    padding-left: 0.5rem;
  }

  .portraitImg {
    height: 10rem;
    width: 10rem;
  }

  /********************************/
  /* BOX A RETRAVAILLER EN JS ??? */
  /********************************/
  .sortBy {
    position: relative;
    display: block;
    margin: 2rem 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
  }
  .sortBy .selectBox {
    position: relative;
    display: initial;
    overflow: hidden;
  }
  .sortBy .selectBox__chevron {
    color: #fff;
    position: absolute;
    left: 120px;
    top: 2px;
    cursor: pointer;
    pointer-events: none;
  }
  .sortBy .selectBox #searchBy {
    margin-left: 1rem;
    font-family: "DM Sans", sans-serif;
    padding: 0.3rem;
    font-weight: 500;
    width: 8rem;
    background: #901c1c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .sortBy .selectBox #searchBy option {
    font-family: "DM Sans", sans-serif;
    color: blue;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photos a {
    width: 33%;
    overflow: hidden;
  }
  .photos a .photoCard {
    object-fit: initial;
    margin: 1rem;
  }
  .photos a .photoCard img, .photos a .photoCard video {
    width: 100%;
    height: 32rem;
    object-position: initial;
  }

  .contactButton {
    position: absolute;
    top: 9rem;
    left: 28rem;
    bottom: initial;
  }
}
@media screen and (min-width: 800px) {
  .contactButton {
    top: 10rem;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
