.photographers{
    display: flex;
    flex-direction: column;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        a{
            display: flex;
            flex-direction: column;
        }
        h2{
            display:flex;
            justify-content: center;
            font-family: 'DM Sans', sans-serif;
            color:#d3573c;
            font-size: 2.5rem;
            font-weight: 400;
        }
        img{
            height: 14rem;
            width: 14rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .presentation{
        display:flex;
        flex-direction: column;
        &__localisation{
            font-family: 'DM Sans', sans-serif;
            color:#901c1c;
            font-size: 1rem;
            font-weight: 400;
            padding:0.2rem;
        }
        &__quote{
            font-family: 'DM Sans', sans-serif;
            color:#901c1c;
            font-size: 0.8rem;
            font-weight: 400;
            padding:0.2rem;
        }
        &__price{
            font-family: 'DM Sans', sans-serif;
            color:#757575;
            font-size: 0.8rem;
            font-weight: 400;
            padding:0.2rem;
        }
    }
    .tagList{
        display: flex;
        justify-content: center;
        //flex-wrap:wrap;
        li{
            margin:0.2rem;
            font-family: 'DM Sans', sans-serif;
            color:#757575;
            font-size: 0.8rem;
            font-weight: 400;
            border: 0.5px solid #cbcbcb;
            padding:0.5rem;
            border-radius: 20px;
            cursor:pointer;
            margin: 0 0.3rem;
        }
    }
}

@media screen and (min-width: 1200px){
    .photographers{
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 2rem;
    }
    article{
        width: 28%;
        overflow: hidden;
        margin: 2rem 0;
    }
}