
  .selectBox__chevron{
    color:#fff;
    position :absolute;
    left:215px;
    top:10px;
    cursor:pointer;
    pointer-events: none;
    //z-index: 3;
  }
  #down{
    opacity: 1;
  }
  #up{
    opacity: 0;
  }
   #filterBox:hover ~ #down{
    opacity:0;
  }
   #filterBox:hover ~ #up{
    opacity:1;
  }
  .radio_select {
    background-color: #901c1c;
    display: inline-block;
    position: absolute;
    top: -1rem;
    left:5rem;  
    border-radius:5px;
    cursor: pointer;
  }
  
  
  .radio_select:hover .optionsContainer:first-of-type,
  .radio_select:focus .optionsContainer:first-of-type,
  #filterBox:focus-within .optionsContainer:first-of-type
  {
    border-bottom: 1px solid #fff;
  }
  .radio_select:hover .optionsContainer:last-of-type,
  .radio_select:focus .optionsContainer:last-of-type,
  #filterBox:focus-within .optionsContainer:last-of-type
  {
    border-top: 1px solid #fff;
  }
  .optionsContainer{
    margin:0 1rem;
  }
  .optionsContainer:hover{
    padding:0.1rem;
  }

  .optionsContainer button{
    font-family: 'DM Sans', sans-serif;
    padding:0.7rem;
    font-weight: 500;
    width:8rem;
    background: #901c1c;
    color:#fff;
    border:none;
    cursor:pointer;
  }
  
  #filterBox li button.active{
      display:block;
  }
  #filterBox li button
  {
      display:none;
  }
  #filterBox:hover li:nth-child(1) button,
  #filterBox:focus li:nth-child(1) button,
  #filterBox:hover li:nth-child(2) button, 
  #filterBox:hover li:nth-child(3) button,
  #filterBox:focus li:nth-child(2) button,
  #filterBox:focus li:nth-child(3) button
  {
      display: block;
  }
 

#filterBox:focus-within li:nth-child(1) button,
#filterBox:focus-within li:nth-child(2) button,
#filterBox:focus-within li:nth-child(3) button
 {
    display: block;
}

#filterBox:focus li:nth-child(2), #filterBox:focus li:nth-child(3){
    display: block;
}
.options{
    text-align: left;
}
