
#displayLightbox{
    display:none;  
}
.lightbox-modal{
    overflow-y: hidden; 
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    overflow: auto;
    display:flex;
    background-color: #fff;
    align-items: center;
    figure{
        width:auto;
    }
    i{
        margin:0 1rem;
        font-size:2rem;
        color:#901c1c;
    }
    &__box{
        display: flex;
        align-items: center;
        position: relative;
        .closeIcon{
            position:absolute;
            top:0;
            right: 1px;
            cursor: pointer;
        }
        &--photo{
            object-fit: cover;
            height: 80vh;
            border-radius:5px;
        }
    }
    figcaption{
        margin-left:10%;
        margin-top: 0.5rem;
        font-family: 'DM Sans', sans-serif;
        color:#901c1c;
    }
}
@media screen and (max-width: 630px){
    
    .lightbox-modal{
        display: none;
        width:auto;
        left:0;
        right:0;
        overflow: unset;
        display:flex;
        background-color: #fff;
        align-items: center;
        
        figure{
            width:100%;
        }
        &__box{
            &--photo{
                object-fit: cover;
                //width:75vw;
                height: 42vh;
                object-position: 50% 25%;
            }
        }
        .closeIcon{
            position:absolute;
            top:0;
            right:2px;
        }
        figcaption{
            margin-left: 14%;
        }
    }
}